@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.wrapper{
    padding-top: 150px;
    padding-bottom: 150px; 
}

.block{
    position: relative;
    background: #5D62B5;
    border-radius: 40px;
    max-width: 1020px;
    max-height: 700px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    padding-top: 100px;
    padding-left: 87px;
}


.block-content__subtitle{
    padding-left: 35px;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    text-transform: uppercase;
    color: #F5F5F5;
    margin-bottom: 33px;
    letter-spacing: 2.5px;
}

.block-content__subtitle::before{
    margin: 0 0 0 -40px;
    content: "";
    background: url("../img/Overline\ Mark.svg") 0 -1px no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.block-content__title{
    font-weight: 900;
    font-size: 36px;
    line-height: 1.16;
    color: #FFFFFF;
    max-width: 583px;
    margin-bottom: 36px;
}

.block-content__title::after{
    content: "";
    background: url("../img/Stylize\ Circles.svg") 0 0 no-repeat;
    width: 201px;
    height: 317px;
    position: absolute;
    top: -109px;
    left: 893px;
}

.block-content__text{
    max-width: 846px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #F5F5F5;
}

.block-content__text::before{
    content: "";
    position: absolute;
    background: url("../img/Blob\ 2.svg") 0 0 no-repeat;
    width: 100%;
    height: 100%;
    top: 250px;
    left: -20px;   
}

.image{
    position: relative;
    top: 54px;
    width: 846px;
    height: 420px;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}